@import url('../var.css');

.container {
  width: 500px;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--colour4);
  position: fixed;
  top: 0;
  right: -500px;
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.container .openFormBtn {
  position: absolute;
  width: 53.2px;
  height: 53.2px;
  top: 0px;
  left: -53px;
  background-color: var(--colour4);
  color: #f5f5f5;
  padding: 0.3rem 0.9rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  border-right: none;
  z-index: 2;
  cursor: pointer;
}
.active {
  top: 0;
  right: 0px;
}
.header {
  width: 100%;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid var(--colour1);
  color: var(--colour1);
  font-weight: bolds;
}
.main {
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  .form {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem !important;
    width: 100%;

    input,
    textarea,
    select {
      padding: 0.2rem;
      font-family: inherit;
      border: none;
      outline: none;
      border-radius: 5px;
      box-sizing: border-box;
    }
  }
}

.form div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  label {
    color: var(--colour1);
  }
}
.form input {
  width: 100%;
}
.form textarea {
  width: 100%;
  resize: none;
  height: 200px;
}

.footer {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    top: 0;
    right: -100%;
    border-radius: 0;
  }
  .active {
    top: 0;
    right: 0px;
  }
  .container .openFormBtn {
    top: 0;
    left: -53px;
    transition: left 0.5s ease-in-out;
  }
  .container.active .openFormBtn {
    top: 0;
    left: 0px;
  }
}
